<div class="nav">
    <div class="nav-name">
        <p>ReccoFlix</p>
    </div>
    <div class="nav-menu">
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/category">
                    Browse
                </a>
            </li>
            <li>
                <a href="/signin">
                    SignIn
                </a>
            </li>
            <li>
                <a href="/search">
                    Search
                </a>
            </li>
        </ul>
        <span class="menu-toggle-btn" id="menuToggle">&#9776;</span> 
    </div>
</div>