<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@400;700&family=Poppins:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>ReccoFlix</title>
</head>

<body>
    <div class="container">
        <%- include("partials/header.ejs") %>
            <div class="main-content-wrapper">

                <div class="content">
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Anime Name Here" id="search-input" name="search_data" required>
                        <button type="submit">-></button>
                    </form>
                </div>
                <div>
                    <% if (searched && items.length===0) { %>
                        <h2>Sorry No Anime found</h2>
                    <% } %>

                </div>
            </div>
            <%- include("partials/footer.ejs") %>
    </div>
    <script src="js/main.js"></script>
</body>

</html>