    @keyframes grdientanimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @font-face {
        font-family: 'AnimeAce';
        src: url('/fonts/animeace2_reg.ttf') format('truetype');
    }

    body,
    html {
        margin: 0;

        height: 100%;
        min-height: 100vh;

        background: linear-gradient(to bottom, rgba(52, 51, 52, 0.745), rgb(2, 0, 2));
        background-size: 400% 400%;
        animation: grdientanimation 15s ease infinite;
        font-family: 'Poppins', sans-serif;
        color: white;
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.05rem;

        width: 100%;
    }

    .main-content-wrapper {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.05rem;
    }

    .nav {
        display: flex;
        width: 100%;
        background-color: rgba(52, 51, 52, 0.745);
    }

    .nav p {
        -webkit-text-stroke: 1px rgba(9, 9, 9, 0.923);
        text-shadow: 0 0 5px rgba(52, 51, 52, 0.745), 0 0 10px rgba(25, 0, 25, 0.745);
        font-family: 'AnimeAce', sans-serif;
        font-size: 2rem;
        letter-spacing: 2px;
        margin: 1rem;
    }

    .nav-name {
        flex: 1;
        margin-left: 2%;
    }

    .nav-menu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .nav-menu ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.5rem 0.8rem;
        transition:
            color 0.3s ease,
            text-shadow 0.3s ease,
            background-color 0.3s ease;
        border-radius: 4px;
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }

    .nav-menu ul li a:hover {
        color: #fff;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #ffffff,
            0 0 20px rgba(255, 255, 255, 0.8);
    }

    .nav-menu ul li a:active {
        transform: translateY(1px);
    }

    .nav-menu ul li {
        list-style: none;
    }

    .nav-menu ul li a {
        display: inline-block;
    }

    .nav-menu ul {
        gap: 3rem;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-around;
        width: 90%;
        padding: 0 2rem;
        max-width: 1200px;
        position: static;
        overflow: visible;
    }

    .home-title {
        font-size: 3rem;
        position: relative;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        overflow: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .category-sidebar {
        width: 80%;
        padding: 1.5rem 0.5rem;
        background-color: #0d0d0d;
        border-right: 2px solid rgba(52, 51, 52, 0.745);
        min-height: 100%;
    }

    .sidebar-heading {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: white;
        text-align: center;
    }

    .category-list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .category-list form {
        width: 100%;
    }

    .category-tab {
        all: unset;
        cursor: pointer;
        box-sizing: border-box;

        display: block;
        width: 100%;
        padding: 0.8rem 1.2rem;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1px;

        color: #e0e0e0;
        background-color: #1a1a1a;
        border: 1px solid #333;
        border-radius: 8px;

        transition: all 0.3s ease;
    }

    .category-tab.active-tab {
        color: white;
        font-weight: 600;
        background-color: #383838;
        border-color: #9c27b0;
        box-shadow: 0 0 10px rgba(156, 39, 176, 0.5);
    }

    .category-tab:hover {
        background-color: #2a2a2a;
        color: #fff;
        border-color: #e0e0e0;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
        transform: translateX(4px);
    }

    .footer {
        width: 100%;
        background-color: #1c212a;
        color: #d4d4d4;
        padding: 3rem 0;
        margin-top: auto;
        border-top: 3px solid rgba(52, 51, 52, 0.745);
        position: relative;
        top: 24vh;

    }

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3rem;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .footer-heading {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: white;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }

    .footer-links a {
        color: #e0e0e0;
        text-decoration: none;
        margin-bottom: 0.7rem;
        transition: color 0.3s ease-in-out;
        font-size: 1rem;
        padding: 2px 0;
    }

    .footer-links a:hover {
        color: #9c27b0;
        text-decoration: underline;
    }

    .footer-bottom {
        width: 100%;
        margin-top: 3rem;
        padding-top: 1.5rem;
        border-top: 1px solid #333940;
        text-align: center;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .social-icons {
        margin-top: 1.5rem;
        display: flex;
        gap: 1.8rem;
    }

    .social-icons a {
        font-size: 1.6rem;
        color: #9c27b0;
        transition: color 0.3s;
    }

    .social-icons a:hover {
        color: #ff9800;
    }

    .getStarted {
        background-color: #0d0d0d;
        color: white;
        padding: 1rem 3rem;
        font-size: 1.15rem;
        font-weight: 600;

        border: 3px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.4s ease-in-out;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .getStarted:hover {
        background-color: #1a1a1a;
        color: #fff;
        border-color: #ffffff;

        box-shadow:
            0 0 5px #cbc5cc,
            0 0 20px rgb(203, 197, 204),
            0 0 40px rgba(203, 197, 204, 0.7);

        transform: scale(1.05);
    }

    .getStarted:active {
        transform: scale(0.98);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
        border-color: #ffffff;
    }

    .content form {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 12px;
    }

    .content form input[type="text"] {
        flex-grow: 1;
        background-color: #1a1a1a;
        color: #e0e0e0;
        border: 2px solid #333;
        padding: 0.75rem 1rem;
        border-radius: 8px;
        font-size: 1rem;
        transition: all 0.3s ease;
    }

    .content form input[type="text"]:focus {
        outline: none;
        border-color: #000000;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }

    .content form button[type="submit"] {
        background-color: #3e3e3e;
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    }

    .content form button[type="submit"]:hover {
        background-color: #363534;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        transform: scale(1.05);
    }

    .content form button[type="submit"]:active {
        transform: scale(0.95);
    }

    .anime-card {
        position: relative;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease;
        margin: 0 0 1.5rem 0;
    }

    .anime-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(41, 41, 41, 0.4);
    }

    .anime-title {
        margin-top: 0.5rem;
        font-size: 0.95rem;
        font-weight: 500;
        line-height: 1.2;
        color: #e0e0e0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        width: 100%;
    }

    .anime-title:hover {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        width: fit-content;
        position: absolute;
        z-index: 10;
        bottom: 0.5rem;

        background-color: #1a1a1a;
        border: 1px solid #000000;
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(34, 34, 34, 0.8);
    }

    .nav-menu {
        position: relative;
    }

    .menu-toggle-btn {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        color: white;
        padding: 0 0.5rem;
    }

    .nav-menu ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    @media (max-width: 480px) {

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .nav {
            flex-direction: column;
            align-items: center;
            padding-bottom: 0.5rem;
        }

        .nav p {
            margin: 0.5rem 0;
            font-size: 1.5rem;
        }

        .nav-menu {
            width: 100%;
            justify-content: center;
        }

        .nav-menu ul {
            gap: 0.75rem;
        }

        .container {
            /* padding-top: 7rem; */
        }

        .category-list {
            gap: 0.5rem;
        }

        .category-tab {
            min-width: 100px;
            padding: 0.5rem 0.75rem;
            font-size: 0.9rem;
        }

        .content {
            padding: 0 0.5rem;
            gap: 1rem;
        }

        .anime-card {
            width: 140px;
        }
    }

    @media (max-width: 768px) {

        .menu-toggle-btn {
            display: block;
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .nav-menu ul {
            gap: 1rem;
            display: none;
            position: absolute;
            top: 100%;
            right: 1rem;
            
            width: 180px;
            flex-direction: column;
            background-color: #1c212a;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 8px 8px;
            z-index: 999;
        }

        .nav-menu ul li {
            width: 100%;
            border-bottom: 1px solid #333;
        }

        .nav-menu ul li a {
            width: 100%;
            padding: 10px 15px;
            box-sizing: border-box;
            text-align: left;
        }

        .nav-menu ul.nav-open {
            display: flex;
        }

        .content {
            padding: 0 1.5rem;
            gap: 2rem;
        }

        .anime-card {
            width: 160px;
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {

        .menu-toggle-btn {
            display: none;
        }

        .nav-menu ul {
            display: flex !important;
            position: static;
            flex-direction: row;
            width: auto;
            background: none;
            box-shadow: none;
            border-radius: 0;
            gap: 3rem;
        }

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }